:host {
    display: block;
    overflow: hidden;
    // default width & height, override from parent component if needed
    width: 600px;
    height: 200px;
}

.chart-container {
    display: flex;
    width: 100%;
    height: 100%;

    ::ng-deep {
        .grid line, .grid-minor line, , .grid-major line {
            shape-rendering: crispEdges;
        }

        .grid line {
            color: rgba(0, 0, 0, 0.25);
        }
        .grid-minor line {
            color: rgba(0, 0, 0, 0.1);
        }
        .grid-major line {
            color: rgba(0, 0, 0, 0.25);
            stroke-width: 2;
        }

        .tooltip {
            background: rgba(255, 255, 255, 1);
            border: 1px solid #777;
            border-radius: 5px;
            padding: 5px;
            transition: opacity 200ms ease;
            font-size: 14px;
            z-index: 10;

            .header {
                text-align: center;
                //font-weight: bold;
            }

            td {
                vertical-align: top;
                line-height: 1.1em;

                &.value {
                    text-align: right;
                    font-weight: bold;
                }
                &.label {
                    text-align: left;
                }
            }
        }
    }
}

