<div
    style="margin-left: 0.5rem; margin-right: 0.5rem;"
    [ngStyle.lt-md]="{'padding': '0.1rem', 'margin': 'auto'}"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-around stretch"
>
    <div fxFlex="1 0 600px" fxFlex.lt-md="1 1 0" >
        <mat-card class="chart_card">
            <mat-card-content>
                <mat-progress-spinner
                    *ngIf="!loaded"
                    mode="indeterminate"
                    color="accent">
                </mat-progress-spinner>
                <div *ngIf="loaded">
                    <nav mat-tab-nav-bar>
                        <a
                            *ngFor="let tab of tabs"
                            mat-tab-link
                            [routerLink]="tab.url"
                            class="tab-link"
                            routerLinkActive="active"
                            #rla="routerLinkActive"
                            [active]="rla.isActive"
                        >{{tab.title}}</a>
                    </nav>
                    <router-outlet></router-outlet>
                    <div matTooltip="Startwoche der Simulation.
                                Nützlich, um die Simulation mit echten Daten zu vergleichen;
                                allerdings ist zu beachten, dass stets die neuesten Lieferdaten & -Ankündigungen verwendet werden.">
                        <mat-icon class="tooltip-info" style="margin-left: 0.5em; margin-top: 0.1em;">help</mat-icon>
                        <mat-slider class="simulation-start"
                                    [(ngModel)]="simulationStartSliderValue"
                                    (change)="runSimulation();"
                                    [min]="simulationStartSlider.min" [max]="simulationStartSlider.max" step="1"
                                    [style]="'width: '+simulationStartSlider.width*100+'%; margin-left: '+simulationStartSlider.startOffset*100+'%;'"
                        ></mat-slider>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-subtitle *ngIf="loaded">
                Datenbasis:
                <span class="line">Impfungen lt. RKI (Stand {{dataloader.updateDates.vaccinationsLastUpdated | date:'shortDate'}}),&nbsp;</span>
                <span class="line">Lieferungen lt. BMG (Stand {{dataloader.updateDates.deliveryLastUpdated | date:'shortDate'}}),&nbsp;</span>
                <span class="line">Lieferpläne grob abgeschätzt (siehe unten)<!-- lt. Zi-Datalab / BMG (Stand {{dataloader.vaccineDeliveryPrognosis.last_update | date:'shortDate'}})--></span>
            </mat-card-subtitle>
        </mat-card>
    </div>

    <div fxFlex="0.1 0 350px" fxFlex.lt-md="0.5 0 0">
        <mat-card>
            <mat-card-title>Simulationsparameter</mat-card-title>
            <mat-card-content class="settings_card">
                <div>
                    <h2><strong>Impfbereitschaft</strong></h2>


                    <div class="settings_row" matTooltip="Anteil der vollständig geimpften Personen, die eine vorgesehene booster Impfdosis annehmen.
                        Standardwert ist das Ergebnis der COSMO-Umfrage von Mitte Dezember">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Boosterbereitschaft</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{ui.simulation.params.fractionTakingThirdDose*100 | number:'1.0-0'}} % </strong>
                            </div>
                        </div>
                        <div class="slider-with-reset" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxFlex="1 0 auto" >
                                <mat-slider [(ngModel)]="ui.simulation.params.fractionTakingThirdDose" min=".5" max="1.0" step="0.01"
                                            (change)="runSimulation();"></mat-slider>
                            </div>
                            <div fxFlex="0 0 auto" >
                                <button mat-icon-button aria-label="Zurücksetzen" (click)="reset3rdWillingness()">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="settings_row" matTooltip="Anteil der erstgeimpften Personen, die eine vorgesehene zweite Impfdosis annehmen.
                        Standardwert ist das Ergebnis der COSMO-Umfrage vom 18. Mai.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Zweitimpfbereitschaft</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{ui.simulation.params.fractionTakingSecondDose*100 | number:'1.0-0'}} % </strong>
                            </div>
                        </div>
                        <div class="slider-with-reset" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxFlex="1 0 auto" >
                                <mat-slider [(ngModel)]="ui.simulation.params.fractionTakingSecondDose" min=".5" max="1.0" step="0.01"
                                            (change)="runSimulation();"></mat-slider>
                            </div>
                            <div fxFlex="0 0 auto" >
                                <button mat-icon-button aria-label="Zurücksetzen" (click)="reset2ndWillingness()">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="settings_row"
                         matTooltip="Personen, für die Impfungen zugelassen wären, die theoretisch bereit wären, sich impfen zu lassen.
                        Standardwert ist der Anteil der Antworten [7-3] aus der Skala [7-1] der COSMO-Umfragen.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Impfbereitschaft:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{ui.simulation.params.fractionWilling*100 | number:'1.0-0'}} % </strong>impfbereit
                            </div>
                        </div>
                        <div class="slider-with-reset" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxFlex="1 0 auto" >
                                <mat-slider [(ngModel)]="ui.simulation.params.fractionWilling" min=".5" max="1.0" step="0.01"
                                            (change)="runSimulation();"></mat-slider>
                            </div>
                            <div fxFlex="0 0 auto" >
                                <button mat-icon-button aria-label="Zurücksetzen" (click)="resetWillingness()">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="settings_row"
                         style="min-height: 3em;"
                         matTooltip="Personen, die sich impfen lassen, für jeden Impfstoff aus den vergangenen Wochen abschätzen. Details siehe Einschränkungen">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Impfwilligkeit pro Impfstoff <br>
                                automatisch abschätzen</div>
                            <div fxFlex="0 0 auto" >

                                <mat-form-field color="accent" appearance="outline" class="slim"
                                                style="width: auto; min-width: 10em;"
                                                matTooltip="">
                                    <mat-select [(ngModel)]="ui.simulation.params.estimateWillingPerVaccine" (selectionChange)="setWillingnessDate()" >
                                        <ng-container *ngFor="let p of ui.simulation.availableWillingnessEstimationOptions | keyvalue: originalOrder">
                                            <mat-option [value]="p.key">{{p.value}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="settings_row" matTooltip="COSMO-Umfragewelle, auf Basis derer die Aufteilung nach Impfwilligkeit sowie der Anteil der Impfunwilligen & Impfzögerlichen in der Simulation berechnet werden.
                        Ab 20. April sind bereits geimpfte unter 'Impfwillig' eingeordnet.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>COSMO-Umfragewelle:</div>
                            <div fxFlex="0 0 auto" >

                                <mat-form-field color="accent" appearance="outline" class="slim"
                                                style="width: auto; min-width: 10em;"
                                                matTooltip="">
                                    <mat-select [(ngModel)]="ui.simulation.willingness.cosmoDate" (selectionChange)="setWillingnessDate()" >
                                        <ng-container *ngFor="let p of ui.simulation.availableWillingnessOptions | keyvalue: originalOrder">
                                            <mat-option [value]="p.key">{{p.value}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="settings_row"
                         matTooltip="Personen, für die Impfungen zugelassen wären, die aber nicht bereit sind, sich impfen zu lassen.">
                        <mat-slide-toggle [(ngModel)]="ui.simulation.params.considerNotWilling"
                                          (change)="runSimulation();" labelPosition="before">
                            Impfunwillige beachten
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row"
                         matTooltip="Personen, die sich nur zögerlich impfen lassen; Lässt vor allem den Graph schöner aussehen. Details siehe Einschränkungen.">
                        <mat-slide-toggle [(ngModel)]="ui.simulation.params.considerHesitating"
                                          (change)="runSimulation();" labelPosition="before">
                            Impfzögerliche beachten
                        </mat-slide-toggle>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Impforganisation</strong></h2>

                    <div class="settings_row" matTooltip="Abstand zwischen vollständiger Immunisierung und Boosterimpfung">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Abstand zur Boosterimpfung:</div>
                            <div fxFlex="0 0 auto" >
                                {{ui.simulation.params.boosterIntervalWeeks}} Wochen
                            </div>
                        </div>
                        <div class="slider-with-reset" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxFlex="1 0 auto" >
                                <mat-slider [(ngModel)]="ui.simulation.params.boosterIntervalWeeks" min="10" max="28" step="1"
                                            (change)="runSimulation();"></mat-slider>
                            </div>
                            <div fxFlex="0 0 auto" >
                                <button mat-icon-button aria-label="Zurücksetzen" (click)="ui.simulation.params.boosterIntervalWeeks = 16; runSimulation();">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="settings_row"
                         matTooltip="Boosterimpfungen, die bereits möglich sind, aber noch nicht gegeben wurden, innerhalb der nächsten paar Wochen der Simulation aufholen">
                        <mat-slide-toggle [(ngModel)]="ui.simulation.params.boosterCatchUp"
                                          (change)="runSimulation();" labelPosition="before">
                            Boosterimpfungen aufholen
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row" matTooltip="Extra Abstand zwischen Erst- und Zweitimpfung über die Empfehlung der STIKO hinaus.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Abstand Erst- zu Zweitimpfung:</div>
                            <div fxFlex="0 0 auto" >
                                <span *ngIf="ui.simulation.params.extraIntervalWeeks==0"> laut STIKO</span>
                                <span *ngIf="ui.simulation.params.extraIntervalWeeks>0"><strong>{{ui.simulation.params.extraIntervalWeeks}}
                                    Wochen länger</strong></span>
                                <span *ngIf="ui.simulation.params.extraIntervalWeeks<0"><strong>{{-ui.simulation.params.extraIntervalWeeks}}
                                    Wochen kürzer</strong></span>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="ui.simulation.params.extraIntervalWeeks" min="-4" max="4" step="1"
                                    (change)="runSimulation();"></mat-slider>
                    </div>
                    <div class="settings_row"
                         matTooltip="Extra Abstand zwischen Erst- und Zweitimpfung nicht auf Personen anwenden, die bereits vor Simulationsbeginn erstgeimpft wurden.">
                        <mat-slide-toggle [(ngModel)]="ui.simulation.params.extraIntervalWeeksOnlyFuture"
                                          (change)="runSimulation();" labelPosition="before">
                            Extra Abstand nur Neuimpfungen
                        </mat-slide-toggle>
                    </div>
                    <div class="settings_row" matTooltip="Anteil Impfdosen, die nicht verimpft, sondern zurückgehalten werden für Personen, die noch eine Zweitimpfung benötigen.">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Rückstellungen für Zweitimpfungen:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{ui.simulation.params.keep2ndDosesBack*100 | number:'1.0-0'}} % </strong>
                            </div>
                        </div>
                        <mat-slider [(ngModel)]="ui.simulation.params.keep2ndDosesBack" min="0" max="1.0" step="0.05"
                                    (change)="runSimulation();"></mat-slider>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Zulassung</strong></h2>
                    <div class="settings_row" matTooltip="Personen, die keinen der aktuell verfügbaren Impfstoffe erhalten können, z.B. weil sie zu jung sind.">
                        <mat-slide-toggle [(ngModel)]="ui.simulation.params.considerContraindicated"
                                          (change)="runSimulation();" labelPosition="before">
                            Kontraindizierte beachten
                        </mat-slide-toggle>
                        <div style="margin-left: 1.5rem;">
                            <mat-radio-group class="my-radio-group" [(ngModel)]="ui.simulation.params.contraindicationAge"
                                             (change)="runSimulation();">
                                <div *ngFor="let age of availableAgeLimits">
                                    <mat-radio-button class="my-radio-button" [value]="age">Impfungen ab {{age}}
                                    </mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="settings_row">
                        <p matTooltip="Welche Impfstoffe für die Simulation beachtet werden sollen." >Ausfall / Zulassung simulieren:</p>
                        <div style="margin-left: 1.5rem;">
                            <p
                                *ngFor="let vacc of ui.simulation.params.vaccinesUsed | keyvalue: originalOrder">
                                <mat-checkbox [(ngModel)]="vacc.value.used"
                                              (change)="runSimulation();" labelPosition="before">
                                    {{ui.simulation.vaccineUsage.getVaccineDisplayName(vacc.key)}}
                                    <span *ngIf="ui.simulation.vaccineUsage.isVaccineUsed(simulationStartWeek, vacc.key)" class="textbadge">Zugelassen</span>
                                </mat-checkbox>
                            </p>
                        </div>
                        <!--<p
                            *ngFor="let hersteller of hersteller_nicht_zugelassen">
                            <mat-checkbox [(ngModel)]="hersteller.checked"
                                          (change)="addremovehst(hersteller.hersteller,hersteller.checked);update_kapazitaet();" >
                                {{hersteller.hersteller}}
                            </mat-checkbox>
                        </p>-->
                    </div>
                    <div class="settings_row"
                         matTooltip="Zweitimpfungen für mit Astra-Zeneca Erstgeimpfte nach der aktuellen STIKO-Empfehlung ab KW 27 mit BioNtech-Impfstoff und 4-wöchigem Abstand durchführen">
                        <mat-slide-toggle [(ngModel)]="ui.simulation.params.astra2ndToBiontech"
                                          (change)="runSimulation();" labelPosition="before">
                            Astra 2. Impfungen mit BioNtech
                        </mat-slide-toggle>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div>
                    <h2><strong>Lieferung</strong></h2>
                    <div class="settings_row">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Liefermenge:</div>
                            <div fxFlex="0 0 auto" >
                                <strong>{{ui.simulation.params.deliveryAmountFactor*100 | number:'1.0-0'}} %</strong>
                            </div>
                        </div>
                        <div class="slider-with-reset" fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxFlex="1 0 auto" >
                                <mat-slider [(ngModel)]="ui.simulation.params.deliveryAmountFactor" min=".8" max="1.2" step="0.01"
                                            (change)="runSimulation();"></mat-slider>
                            </div>
                            <div fxFlex="0 0 auto" >
                                <button mat-icon-button aria-label="Zurücksetzen" (click)="ui.simulation.params.deliveryAmountFactor = 1; runSimulation();">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="settings_row">
                        <p matTooltip="Lieferungsszenarien des ZI-Data Labs basierend auf den Ankündigungen der Hersteller">Verteilung der Lieferungen:</p>
                        <div style="margin-left: 1.5rem;">
                            <mat-radio-group class="my-radio-group" [(ngModel)]="uiDataService.simulation.params.deliveryScenario"
                                             (change)="runSimulation();">
                                <ng-container *ngFor="let szenario of availableDeliveryScenarios">
                                    <mat-radio-button class="my-radio-button" [value]="szenario">{{szenario}}
                                    </mat-radio-button><br/>
                                </ng-container>
                            </mat-radio-group>
                        </div>
                    </div> -->

                    <div class="settings_row">
                        <mat-slide-toggle [(ngModel)]="ui.simulation.params.considerStockPile"
                                          matTooltip="Lagerbestand, der zu Beginn der Simulation besteht, in die Simulation mit einfließen lassen.
                                          Überschätzt dadurch meist die Impfungen der nächsten Woche."
                                          (change)="runSimulation();" labelPosition="before">
                            Lagerbestand beachten
                        </mat-slide-toggle>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
</div>

<app-info></app-info>
